.descrizione {
    -fx-background-color: #5f485665;
    -fx-background-radius: 20px;
}

.bottone {
    -fx-background-color: #543046;
    -fx-text-fill: white;
    -fx-background-radius: 20px;
    -fx-padding: 6px 15px;
    -fx-border-radius: 20px;
    -fx-border-color: transparent;
    -fx-font-weight: 600;
    -fx-font-size: 16px;
    -fx-text-decoration: none;

}
.input{
    -fx-background-color: #5f485665;
    -fx-background-radius: 0 20px 20px 0;
    -fx-prompt-text-fill:rgb(52, 51, 51);
}

.input .arrow-button {
    -fx-background-color: #5f485665;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.menu-bar {
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 1);
}


.menu-bar .label {
    -fx-text-fill: #30543e;
    -fx-font-size: 12px;
    -fx-font-weight: 700;
}
